*{
    margin: 0;
    padding: 0;
}

.modal_wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(206, 204, 204, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.modal{
    background-color: white;
    width: 400px;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.modal_close{
    position: absolute;
    right: 0;
    display: block;
    margin-right: 10px;
}

.modal_header_text{
    font-size: 30px;
}

.modal_text{
    color: gray;
    font-size: 16px;
}

.modal_button_success{
    padding: 15px;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    border: 2px solid blueviolet;
    font-size: 20px;
}

.modal_button_success:hover{
    background-color: white;
    color: blueviolet;
    cursor: pointer;
}

.modal_button_wrapper{
    display: flex;
    width: 100%;
    gap: 20px;
}

.modal_button_delete{
    padding: 15px;
    background-color: white;
    color: blueviolet;
    border-radius: 4px;
    border: 2px solid gray;
    font-size: 20px;
}

.modal_button_delete:hover{
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

.modal_image{
    max-height: 300px;
    max-width: 200px;
}