.button{
    padding: 10px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 4px;
    font-size: 15px;
    margin: 10px;
    transition: transform 0.3s;
    width: auto;
}

.button:hover{
    transform: scale(1.1,1.1);
    background-color: blue;
    color: white;
    cursor: pointer;
}