/* Reset and Global Styles */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

/* Links */
a {
    text-decoration: none;
    color: black;
}

/* Cart Styles */
.cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: lightcyan;
    border-radius: 4px;
    padding: 20px;
}

.form > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.form_input {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Label and Input Styles */
label {
    font-size: 16px;
    width: 30%;
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
    width: 70%;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
    border-color: blueviolet;
    outline: none;
}


/* Button Styles */
.checkout__form-btn {
    padding: 15px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.checkout__form-btn:hover {
    background-color: #6a1b9a;
}

/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 350px;
    height: 635px;
    position: relative;
}

.card__image {
    width: 320px;
    height: 450px;
}

.card__title {
    font-size: 30px;
}

/* Stretched Card Styles */
.card_stretched {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    width: auto;
    height: auto;
    position: relative;
    align-items: center;
}

/* Favorite Button Styles */
.card__fav {
    width: 30px;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 4px;
}

.card__fav:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

/* Shop and Favorites Grid Styles */
.shop, .fav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;
    margin-bottom: 30px;
}

.shop_stretched, .fav_stretched {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: left;
    margin-bottom: 30px;
}

/* Cart Item Styles */
.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: center;
    margin-bottom: 30px;
}

.cart_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 150px;
    height: 220px;
    position: relative;
}

.cart_card > img {
    width: 90%;
    height: 70%;
    object-fit: contain;
    margin-bottom: 10px;
}

.cart_card > h2 {
    display: none;
}

.cart_card > .card__fav {
    width: 10%;
    height: 9%;
    font-size: 20px;
}

.cart_card > .button {
    height: 25px;
    padding: 0;
    margin: 0;
    font-size: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.cart_card > .button:hover {
    background-color: #6a1b9a;
}

/* Switch Wrapper */
.wraper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    align-items: center;
}

/* Switch Label Text */
.label-text {
    font-weight: bolder;
    font-size: 2rem;
}

/* Switch Styles */
.switch-wrap {
    cursor: pointer;
    background: #15273b;
    padding: 4px;
    width: 70px;
    height: 32px;
    border-radius: 15px;
    position: relative;
}

.switch-wrap > input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: .2s;
}

.switch::after {
    content: '';
    border-radius: 50%;
    background: #ccc;
    grid-column: 2;
    transition: background .2s;
}

input:checked + .switch {
    grid-template-columns: 1fr 1fr 0fr;
}

input:checked + .switch::after {
    background-color: #52cf71;
}
